#current-pokemon {
	background-color: white; 
	border: outset #ddb8c0 3px;
	border-radius: 5px;
	height: 90%;
	margin-left: auto; 
	margin-right: auto; 
	width: 80%; 
	overflow: auto;
}

#current-pokemon-menu {
	display: none;
	text-align: center;
}

#info-menu {
	display: none;
}

#left-panel {
	background-color: #ce3131;
	border: outset #bc2949 5px;
	border-radius: 20px;
}

#main {
	margin-left: auto; 
	margin-right: auto; 
	width: 90%;
}

#move-list {
	border: solid black 1px;
	float: left; 
	margin-left: 5%; 
	width: 55%;
}

#moves-menu {
	margin-left: auto;
	margin-right: auto;
	overflow-x: visible;
	overflow-y: scroll;
}

#move-list-menu {
	height: 500px; 
	overflow-x: visible;
	overflow-y: scroll;
}

#preview {
	border-bottom: black solid 1px;
}

#team {
	height: 90%;
	text-align: center; 	
}

#team-grid {
	height: 95%; 
	margin-left: auto; 
	margin-right: auto; 
	width: 80%; 
}

.back {
	background-color: white;	
	border: outset #ddb8c0 3px;
	border-radius: 20px;
	float: left; 
	width: 50px;
	margin-left: 5px; 	
}

.back:hover {
	background-color: rgb(128, 128, 128);	
	border: outset black 3px;
	cursor: pointer;
}

.panel {
	min-width: 49%;
	height: 850px;
	
}

.slot {
	background-color: white;
	width: 90%;
	height: 150px;
	border: 3px outset #ddb8c0;
	border-radius: 20px;
	margin-left: auto; 
	margin-right: auto; 
}

.slot:hover {
	cursor: pointer;
	border: outset black 3px;
	background-color: grey;
}

.menu-button {
	background-color: white;
	border-right: black solid 1px; 
	border-bottom: black solid 1px;
}

.move-slot {
	background-color: white;
	width: 300px;
	height: auto;
	border: 1px solid black;
	margin-bottom: 3%;
	overflow-y:scroll;
}

.move-slot:hover {
	cursor: pointer;
	background-color: grey;
}

.menu-button-pressed {
	background-color: white;
}

.menu-button:hover {
	cursor: pointer;
	background-color: grey;
}

.move-information {
	background-color: white;
	border: 1px solid black;
	height: auto;
	padding-left: 5%;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 90%;
}

.move-information:hover {
	cursor: pointer;
	background-color: grey;
}